.output {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.output__header {
  line-height: 24px;
}

.output__resultLine {
  display: flex;
  gap: 12px;
}

.output__text {
  font-size: 1.125em;
  font-weight: 500;
  line-height: 24px;
  min-width: 240px;
}

.output__copyBtn {
  background-color: inherit;
}