@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root {
  --main-font-family: 'Inter', sans-serif;
}

.app {
  background-color: #fff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  font-family: var(--main-font-family);
  font-size: 16px;
  font-weight: 400;
  gap: 24px;
  margin: 50px auto;
  max-width: 400px;
  padding: 34px 40px;
}