@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root {
  --main-font-family: 'Inter', sans-serif;
}

.app {
  font-family: var(--main-font-family);
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}